* {
  margin: 0;
  padding: 0;
  color: aliceblue;
  text-shadow: black 2px 2px 2px;
}

body {
  background-color: #1a1a1a;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5em;
  text-align: center;
}

body::-webkit-scrollbar {
  display: none;
}

main {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

#title {
  font-size: 2rem;
  height: 100px;
}

.birth {
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 100;
}

#img-div {
  position: relative;
  width: 100%;
  height: calc(100vh - 65px);
}

.kbpic {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center -40px;
}

#img-caption {
  width: 100%;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-style: italic;
  font-weight:lighter;
}


.yt-video {
  margin: 1em;
  border-radius: 10px;
}

.yt-video iframe {
  width: 90%;
  max-width: 560px;
  border-radius: 10px;
  border: 2px solid rgba(250, 235, 215, 0.459);
}

#tribute-info {
  height: 100%;
  padding: 1em;
  margin: 1em;
  flex: 0 0 60%;
  background-color: rgba(66, 61, 55, 0.459);
  border: 2px solid rgba(250, 235, 215, 0.459);
  border-radius: 10px;
}

.my-speech {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.career h1 {
  text-decoration: underline;
}

.career {
  line-height: 150%;
  padding: 3%;
}

.mid-hr {
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
}

li {
  list-style-type: none;
}

a {
  font-style: italic;
}

.footer {
  background-color: #2b2b2b;
  padding: 1%;
}

@media screen and (max-width: 600px) {
  body {
  font-size: 1.3em;
  }
  #title {
    font-size: 1em;
  }
  #img-caption {
    font-size: .8em;
  }
  #img-div {
  height: auto;
}
}